<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="" />
	<meta name="keywords" content="bootstrap, bootstrap5" />

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@300;400&display=swap" rel="stylesheet">


	<link rel="stylesheet" href="static/fonts/icomoon/style.css">
	<link rel="stylesheet" href="static/fonts/feather/style.css">

	<link rel="stylesheet" href="static/css/tiny-slider.css">
	<link rel="stylesheet" href="static/css/aos.css">
	<link rel="stylesheet" href="static/css/glightbox.min.css">
	<link rel="stylesheet" href="static/css/style.css">

  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  <title>AVR</title>
  <style>
  header{

    background-image: url("/static/images/hero-2-min.jpg");
    position: relative;
    background-size: cover;
    margin-top: 0px;
  }

	.logoavr {
		font-size: 30px;
		display: inline-block;
		justify-content: left;
		left: -80px;
		opacity: 0.9;
		width: 100px;
		height: 50px;
		
	 
	  }

  </style>

  {% block css %}{% endblock %}
</head>

<body>
  <!-- ========== HEADER ========== -->

  <header>         
            <div class="site-mobile-menu site-navbar-target">
              <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close">
                  <span class="icofont-close js-menu-toggle"></span>
                </div>
              </div>
              <div class="site-mobile-menu-body"></div>
            </div>
          
            <nav class="site-nav">
              <div class="container">
                <div class="site-navigation">
                  <a class="logoavr" href="{{url_for('index')}}">
                    <img src="/static/images/logoavr.png" alt="erro"> </a>			  
                   
                    <ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end">
                      <li class="active"><a href="{{url_for('index')}}">Home</a></li>
                      <li class="has-children">
                        <a href="#">Downloads</a>
                        <ul class="dropdown">
                          <li><a href="#">Get AVR</a></li>
                          <li class="has-children">
                            <a href="#">Versions</a>
                            <ul class="dropdown">
                              <li><a href="#">AVR 1.0</a></li>
                              <li><a href="#">Coming Soon</a></li>
                              <li><a href="#">Coming Soon</a></li>
                            </ul>
                          </li>
                          <li><a href="#">Brochure</a></li>
                        </ul>
                      </li>
                      <li><a href="{{url_for('about')}}">About</a></li>
                      <li><a href="{{url_for('contactus')}}">Contact</a></li>
                      <li><a class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium text-nowrap rounded-xl bg-gray-100 border border-gray-200 text-start hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:hover:bg-gray-100/10 dark:text-white dark:hover:text-gray-400 dark:focus:text-gray-400"
                          href="{{ url_for('login') }}" class="flex items-center">
                          <span class="ml-3">Login</span>
                        </a>
                    </li>
                      <li><a href="{{ url_for('index') }}#section2"
                        class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium text-nowrap rounded-xl border border-transparent bg-lime-400 text-black hover:bg-lime-500 focus:outline-hidden focus:bg-lime-500 transition disabled:opacity-50 disabled:pointer-events-none" onclick="localStorage.setItem('scrollTrigger', 'true')">
                        Sign up
                        </a></li>
                      <li><a href="{{url_for('admin_login')}}"
                        class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium text-nowrap rounded-xl border border-transparent bg-gray-700 text-white hover:bg-gray-800 focus:outline-hidden focus:bg-gray-800 transition disabled:opacity-50 disabled:pointer-events-none">
                        Admin
                      </a></li>
                    </ul>
            
                  
                </div>
              </div>
            </nav>
          

            
               </div>
            </header>  



  {% block content %}{% endblock %}
  <!-- ========== MAIN CONTENT ========== -->
  {% block js %}{% endblock %}
  <!-- ========== FOOTER ========== -->
	<div class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="widget">
						<h3>Contact</h3>
						<ul class="list-unstyled links">
							<li><a href="tel://11234567890">+1(123)-456-7890</a></li>
							<li><a href="tel://11234567890">+1(123)-456-7890</a></li>
							<li><a href="mailto:info@mydomain.com">support@avr.com</a></li>
						</ul>
					</div> <!-- /.widget -->
				</div> <!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<div class="widget">
						<h3>Sources</h3>
						<ul class="list-unstyled float-start links">
							<li><a href="{{url_for('about')}}">About us</a></li>
							<li><a href="#">Terms</a></li>
							<li><a href="{{url_for('about')}}">Blog</a></li>
							<li><a href="{{ url_for('about') }}#section2">FAQ</a></li>
							<li><a href="#">Creative</a></li>
						</ul>

					</div> <!-- /.widget -->
				</div> <!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<div class="widget">
						<h3>Links</h3>
						<ul class="list-unstyled links">
							<li><a href="{{ url_for('about') }}">Our Vision</a></li>
							<li><a href="{{ url_for('contactus') }}">Contact us</a></li>
						</ul>

					</div> <!-- /.widget -->
				</div> <!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<div class="widget">
						<ul class="list-unstyled social">
							<li><a href="#"><span class="icon-instagram"></span></a></li>
							<li><a href="#"><span class="icon-twitter"></span></a></li>
							<li><a href="#"><span class="icon-facebook"></span></a></li>
							<li><a href="#"><span class="icon-linkedin"></span></a></li>
							<li><a href="#"><span class="icon-pinterest"></span></a></li>
							<li><a href="#"><span class="icon-dribbble"></span></a></li>
						</ul>
					</div> <!-- /.widget -->
				</div> <!-- /.col-lg-4 -->
			</div> <!-- /.row -->

		</div> <!-- /.container -->
	</div> <!-- /.site-footer -->


	<!-- Preloader -->
	<div id="overlayer"></div>
	<div class="loader">
		<div class="spinner-border" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>


	<script src="static/js/bootstrap.bundle.min.js"></script>
	<script src="static/js/tiny-slider.js"></script>
	<script src="static/js/aos.js"></script>
	<script src="static/js/navbar.js"></script>
	<script src="static/js/glightbox.min.js"></script>
	<script src="static/js/rellax.min.js"></script>
	<script src="static/js/custom.js"></script>
</body>
</html>
